.pages{
  display: flex;
  margin: 0 auto;
  width: max-content;

  .page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 28px;
    margin-right: 5px;
    background-color: #8f8f8f;
    color: white;

    &:hover{
      background-color: #009c00;
    }

    &.active{
      background-color: #009c00;
    }
  }
}
